.containerLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
  
} 
.messageLogin {
    position: relative;
    width: 40%; 
    gap: 10px;
    background-image: url(https://st3.depositphotos.com/1177973/13895/i/450/depositphotos_138956640-stock-photo-physiotherapist-working-with-patient.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex; 
    justify-content: center;  
    align-items: center; 
    flex-direction: column;
} 
.messageLogin::after {
    content: "";
    position: absolute; /* Lo posicionamos de manera absoluta dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px); 

}
.messageLogin h1 {
    border: none;
    font-size: 30px;
    margin: 0;
    position: relative;
    z-index: 1;
    color: #1fe1ff;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.messageLogin p { 
    margin: 0;
    font-size: 15px;
    position: relative;
    z-index: 1;
    color: #1fe1ff;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.containerFormLogin{
    width: 60%;
    background-color: #242a37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;    
} 
.formLogin {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.formLogin input {
    height: 40px;
    width: 100% ;
    background-color: #E4E2DD;
    color: #465BA6; 
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
}
.formLogin input:focus {
    border: 2px solid #0b92a7bb;
} 
.formLogin input:focus::placeholder {
    color: #0b92a7bb;
} 
.formLogin input::placeholder {
    color: #060709;
    font-weight: 500;
}

.buttonLogin {
    width: 100%;
    border-radius: 50px;
    background-color: #465BA6;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    height: 40px;
}
.buttonLogin:hover {
    background-color: #F08C30;
} 
.noAccount {
    margin:0;
    color: white;
}
.pprincipal {
    border: none;
    font-size: 30px;
    margin: 0;
    position: relative;
    z-index: 1;
    color: #1fe1ff;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}