/* Contenedor principal del Dashboard */
.containerDashboard {
  margin-top: 74px;
  display: flex;
  flex-direction: row; /* Asegura que los contenedores estén en fila en pantallas grandes */
  flex-wrap: wrap; /* Permite que los elementos se ajusten cuando no haya suficiente espacio */
  justify-content: center; /* Alinea los elementos al inicio */
  align-items: center;
  padding: 50px 100px 0px 100px;

}

/* Contenedor de bienvenida */
.containerWelcomeDashboard {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  height: 200px; /* Altura consistente */
  display: flex;
  justify-content: space-between; /* Espacio entre los contenedores */
  gap: 15px;
  box-sizing: border-box;
}
.welcomeDashboard {
  width: 100%;
  max-width: 500px; /* Máximo ancho de 300px */
  height: 150px; /* Altura consistente */
  background-color: #000000;
  border-radius: 16px;
  display: flex;
  justify-content:space-between;
  align-items: start;
  padding: 30px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.welcomeDashboard img {
  width: 100px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.welcomeDashboard div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
}

.welcomeDashboard p {
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  color: rgb(255, 115, 0);
  margin: 0px;
}
.cfnc{
  color: rgb(255, 115, 0) !important;
}

.welcomeDashboard p {
  color: white;
  font-size: 17px;
}

/* Contenedor de estadísticas */
.stats {
  width: 100%;
  max-width: 300px; /* Máximo ancho de 300px */
  height: 150px; /* Altura consistente */
  background-color: #000000;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.containerIconsDashboardStats {
  width: 50px;
  height: 50px;
  background-color: rgba(253, 125, 5, 0.4);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerIconsDashboardStats .iconsDashboardStats {
  color: #ff932d;
  width: 35px;
  height: 35px;
}
.christianfabian{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.statsInfo {
  width: 130px;
  text-align: left;
  padding-left: 5px;
  margin-left: 10px;
}

.titleStat {
  color: white;
  font-size: 17px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.stat {
  color: #f08c30;
  font-size: 30px;
  margin: 0;
}

/* Contenedor de gráficos */
.containerChart {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 120px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 16px;

}
  
.containerChart p {
  font-size: 28px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  width: 100%;
  color: rgb(255, 115, 0);
}

.barChart {
  height: 100% !important; /* Ajusta la altura de la barra */
  width: 100%; /* Asegura que la barra ocupe todo el ancho disponible */
  

}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  /* Contenedor principal se apila en columna en pantallas pequeñas */
  .containerDashboard {
    flex-direction: column; /* Apilan los contenedores en columna */
    align-items: center; /* Centra los contenedores */
    padding: 30px 30px 0px 30px;
  }

  .containerWelcomeDashboard {
    flex-direction: column; /* Apilar los contenedores dentro de la sección de bienvenida */
    gap: 5px; /* Espacio entre los contenedores */
    height: 100%;
    gap: 10px;
  }

  .welcomeDashboard
{
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 100%; /* No excede el ancho de la pantalla */
    height: 210px; /* Altura consistente */
  }

  .containerChart {
    margin-bottom: 50px;
  }

  div.stats{
    max-width: 100% !important;
  }

  /* Asegura que la imagen no desborde */
 

  /* Ajustes para el contenedor de gráficos */
  .containerChart {
    margin-top: 30px;
    max-width: 100%; /* Deja que el contenedor ocupe un 90% del ancho disponible */
    
  }

  .containerChart p {
    font-weight: 500; /* Hacemos que el texto sea más grueso */
    font-size: 23px; /* Reducimos el tamaño de la fuente del título */
  }

  .barChart {
    height: 100% !important; /* Asegura que la barra ocupe todo el espacio disponible */
    width: 100%; /* Asegura que la barra ocupe todo el ancho disponible */
  }
}
