.containerDashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.titleDashboard {
    width: 95%;
    height: 60px;
    background-color: #465BA6;
    display: flex;
    border-radius: 8px;
    justify-content: left;
    align-items: center;
    padding-left: 3%;
}

.titleDashboard p {
    margin: 0;
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
}

.containerWelcomeDashboard {
    width: 95%;
    height: 210px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.welcomeDashboard {
    width: 55%;
    height: 100%;
    background-color: #465BA6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.welcomeDashboard img {
    height: 100%;
    margin: 0;
}

.welcomeDashboard div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 50px;

}

.welcomeDashboard p {
    color: #ff932d;
    font-weight: 700;
    font-size: 24px;
}

.welcomeDashboard b {
    color: white;
    font-size: 24px;
}

.stats {
    width: 25%;
    background-color: #465BA6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.statsInfo {
    width: 130px;
    text-align: left;
    padding-left: 5px;
    margin-left: 10px;
}

.containerIconsDashboardStats {
    height:50px;
    width: 50px;
    background-color: rgba(253, 125, 5, 0.4);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIconsDashboardStats .iconsDashboardStats {
    /* Estilos específicos para el icono dentro del contenedor */
    color: #ff932d; /* Puedes ajustar el color del icono según tus necesidades */
}


.iconsDashboardStats {
    width: 40px;
    height: 40px;
    
}

.titleStat {
    color: white;
    font-size: 17px;
    margin: 0;
}

.stat {
    color: #F08C30;
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: top;
}

.containerChart {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerChart p {
    margin: 0;
    font-size: 25px;
    letter-spacing: 1px;
    color: #465BA6;
}

.barChart{
    height: 360px !important;
}