.containerSideBar {
    width:14%;
    height: 100vh;
    background: url(./../../assets/background8.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}

.containerLogo {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.logoSideBar {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.containerOptionsMenu {
    width: 100%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.ulMenu {

    min-height: 150px;
    height: fit-content;
    padding-left:9px;
}


.ulMenu li, .ulLogout li {
    list-style: none;
    text-align: left;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 9px;
    color: white;
    border-radius: 10px 0 0 10px;
    position: relative;
    letter-spacing: 1px;
    gap: 5px;
}

.ulMenu li:hover, .ulLogout li:hover {
    background-color: white;
    color: #465BA6;
    cursor: pointer;
}

.ulLogout {
    padding-left:9px;
}

.react-icons {
    width: 20px;
    height: 20px;
}