.containerCalendar {
    display: flex;
    height: 300px;
}

.calendar {
    width:800px;
    border: 1px solid white;
}

.disabled {
background-color: gray;
    color: #ccc; 
    pointer-events: none;
}

.containerTime {
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid white;
}

.containerHours {
    max-height: 100%; /* altura maxima */
    overflow-y: auto; /* Añade un scroll*/
    border: 1px solid #ccc; /
}


.hours {
    display: flex;
    flex-direction: column;
}