nav {
  display: flex;
  align-items: center;

  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  padding-top: 14px;
   padding-bottom: 14px;  
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  font-weight: 600;
  border-radius: 0px 0px 30px 30px;
}

nav.scrolled {
  background-color: #000;
  transition: background-color 0.3s;
}

.navbar {
  
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar {
  
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 100px;
}

img.logo {
  max-width: 80px;
  height: auto;
  padding: 0;
  margin-left: 100px;
}

i {
  color: #f08c30;
}
#navbar .itemnavbar {
  list-style: none;
  padding: 00px 0px 0px 20px;
  position: relative;
}
.itemsnavbar {
  margin-right: 40px;
}
i {
  padding: 0px 5px;
}

#navbar .itemnavbar a {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1em;
  /*color: #404dbb;*/
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}

#navbar .itemnavbar a:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #f08c30;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar .itemnavbar a.active:not(#cerrarsesion)::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #f08c30;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#navbar .itemnavbar a.active::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f08c30;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar li p {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  /*color: #404dbb;*/
  color: rgb(255, 255, 255);
  margin: 0;
}

#navbar li p i:hover {
  color: #f08c30;
}

#navbar li p:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #f08c30;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #f08c30;
  align-items: center;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: fixed;
    top: 55px;

    right: -900px;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 80px 0px 30px 30px;

    transition: 0.3s ease-in-out;
    z-index: -1;
  }

  #navbar .itemnavbar a{
    font-size:  24px;
  }
  img.logo {

    margin-left: 30px;
  }
  nav {
    border-radius: 0px;
    background-color: rgb(0, 0, 0);
  }
  .itemsnavbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar.active {
    left: 50%;
    transform: translateX(-50%);
  }

  #navbar .itemnavbar {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
    margin-right: 30px;
  }

  #mobile i {
    font-size: 36px;
    cursor: pointer;
  }

  .react-icon-nav {
    color: #f08c30;
  }
  #navbar.active {
    margin-top: 0px;
  }

  #navbar .itemnavbar{
    padding-left: 0px;
  }

}
