

footer {
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
  position: sticky;
  z-index: 1;
  width: 100%;
}

footer .info {
  padding: 1rem 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
}

footer .info .legal {
  display: flex;
  flex-wrap: nowrap;
}

footer .info .legal > a {
  margin-right: 15px;
}

footer .social {
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
  background-color: #000000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  position: relative;
  height: 100%;
}

h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .social i {
  font-size: 1.4rem;
  margin: 2px 8px;
  cursor: pointer;
}

footer .social i:hover {
  transform: scale(1.1);
}

footer .social:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pages ul{
  padding-left: 0px;
}

footer .top {
  
  display: flex;
  margin: 30px 100px;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;

}

footer .top .pages {
  display: flex;
  flex-direction: row;
}

footer .top .pages ul {
padding-right: 60px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;}

footer .top .pages ul li {
  margin: 5px;
}


@media screen and (max-width: 768px) {
  footer .top {
    flex-direction: column;
    margin: 0px 30px;
  }



}

@media screen and (max-width: 600px) {
  footer .top .pages {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .info {
    flex-direction: column;
    margin: 0px 30px 20px 30px;
    padding: 0px 0px;
    gap: 10px;
    align-items: start;
    justify-content: start;

  }
  .social{
display: flex;
align-items: start;
justify-content: start;    margin-top: 40px;
    margin-bottom: 40px;
  }
 .legal{
  display: flex;
  gap: 10px;
 }
 .legal a{
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;
 }

}

@media screen and (max-width: 450px) {
  footer .top .pages {
    justify-content: center;
    flex-direction: column;
  }

  footer .info .legal {
    justify-content: center;
  }

  footer .info .legal a {
    margin: 0;
  }
  h3 {
    margin-top: 30px;
  }
}
