

footer {
  background: #404dbb;
  color: #ffffff;
  overflow-x: hidden;
  position: sticky;
  z-index: 1;
  width: 100%;
}

footer .info {
  padding: 1rem 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #404dbb;
}

footer .info .legal {
  display: flex;
  flex-wrap: nowrap;
}

footer .info .legal > a {
  margin-right: 15px;
}

footer .social {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid #ffffff27;
  border-bottom: 1px solid #ffffff27;
  background-color: #404dbb;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  position: relative;
  height: 100%;
}

input[type="email"] {
  padding: 7px 8px;
  border: 2px solid #f08c30;
}
input[type="button"] {
  border: none;
  padding: 7px 12px;
  background: #f08c30;
  color: rgb(255, 255, 255);
  border: 3px solid #f08c30;
  cursor: pointer;
}
h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .social i {
  font-size: 1.4rem;
  margin: 2px 8px;
  cursor: pointer;
}

footer .social i:hover {
  transform: scale(1.1);
}

footer .social:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer .top {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

footer .top .pages {
  display: flex;
  flex-direction: row;
}

footer .top .pages ul {
  margin: 20px;
  padding-right: 32px;
}

footer .top .pages ul li {
  margin: 5px;
}

footer .newsletter h3 {
  margin-bottom: 10px;
}
footer .newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .newsletter {
    padding-top: 1rem;
  }
  footer .top .pages ul {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  footer .top .pages {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .info {
    flex-direction: column;
  }

  footer .info > .copyright {
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  footer .top .pages {
    justify-content: center;
    flex-direction: column;
  }

  footer .info .legal {
    justify-content: center;
  }

  footer .info .legal a {
    margin: 0;
    text-align: center;
  }
  h3 {
    margin-top: 30px;
  }
}
