
.containerModalCalendar {
    display: flex;
    height: 320px;
    justify-content: center;
    width: 700px;
}

.react-calendar__navigation {
    text-align: center;
}

.containerInfoAppointmentPatient {
    display: flex;
    gap: 70px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.containerInfoAppointmentPatient div {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.containerInfoAppointmentPatient div label {
    font-weight: 600;
}

.infoAppointmentModal {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.infoAppointmentModal p{
   width: 80%;
   display: flex;
   flex-wrap: wrap;

}

.infoAppointmentModal button {
    width: 80%;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: #465BA6;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}

.infoAppointmentModal button:hover {
    background-color: #F08C30;
    transition: 0.3s ease;
}

